@import "tailwindcss";


@import "./styles/venue.css";
@import "./styles/mainpage.css";

/* @import './venue.css'; */
@font-face {
  font-family: 'F1FontNormal';
  src: url('./assets/fonts/Formula1-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'F1FontBold';
  src: url('./assets/fonts/Formula1-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

h1{
  /* {fontFamily: 'F1FontBold'  ,fontSize:'1.5rem'} */
  font-family: 'F1FontBold';
  font-size: 1.5rem;

}

h3{
  font-family: 'F1FontBold';
  font-size: 1rem;
  
}

p {
  font-family: 'F1FontNormal';
  font-size: 0.8rem;
}

:root {

}
